/*==========================================================================
Old
============================================================================ */

#main .container{
width: 71%;
margin: 0px;
padding: 75px 0px 70px 20px;
min-height: 750px;
}

#main .col-md-3 {
width: inherit;
}

#thumb-container{
float: left;
}

#map-search{
position: absolute;
right: 0;
top: 0;
width: 30%;
border-left: 2px dashed rgba(0,0,0,1);
z-index: 60;
}

.map-load{
background: transparent url(../img/loader.gif) no-repeat center center;
}

.resizebar{
position: absolute;
top: 45%;
right: 30%;
z-index: 100;
}

#registration .modal-dialog {
width: 350px;
}

#registration .modal-body {
  padding: 12px;
}

#registration .btn-primary{
color: #fff;
background-color: #FF7500;
border-color: #fff;
}

#registration .btn-primary:hover{
background-color: #428bca;
border-color: #357ebd;
}

#registration .alert {
position: absolute;
  bottom: -100px;
  left: 0px;
width: 330px;
}

#name-profile {
padding-right: 50px;
}

.img-profile{
display: none;
}

.img-loader{
display: none;
}

@media (min-width: 768px) {
.img-profile{
position: relative;
top: 9px;
margin: 0 10px 0 10px;
  display: block;
  width: 32px;
  height: 32px;
  padding: 1px;
  line-height: 1.428571429;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.img-loader{
display: block;
position: relative;
top: 10px;
margin: 0 10px 0 10px;
  height: 30px;
  width: auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50px;  
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
}

.navbar-default {
  background-color: #FAFAFA;
  border: 0;
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2); 
  border-bottom: 1px solid #FAFAFA;  
}

.navbar-brand{
  height: 47px;
  width: 60px;
  background: url("../img/logo.svg") transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px 15px 0px;
  margin-left: 10px;
  margin-right: 10px;
}


.navbar-brand:hover{
   -webkit-filter: brightness(1.1);
}


.navbar-default .navbar-nav>li>a:hover {
  color: #FF7500;
}

.navbar .navbar-nav > .active > a {
  color: #FAFAFA;
}

.navbar .navbar-nav > .active > a:hover{
  -webkit-filter: brightness(1.1);
  color: #FAFAFA;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-color: #F5811E;
}

.navbar-default .navbar-nav>.sec-active>a{
background-color: #428bca;
color: #FFF;
}

.navbar-default .navbar-nav>.sec-active>a:hover, .navbar-default .navbar-nav>.sec-active>a:focus {
background-color: #3276B1;
color: #FFF;
}

.typeahead {
	background-color: transparent;
}

.ShoutButton{
	background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: left top;
	background-color: transparent;
	outline: 0;
	cursor: pointer;
    float: right;
	width: 55px;
	height: 50px;
	border: 0;	
	margin: 10px 10px 0 10px;
	-webkit-filter: brightness(1);
	-moz-filter: brightness(1);
	-o-filter: brightness(1);
	-ms-filter: brightness(1);
	filter: brightness(1);
}

.ShoutButton:hover{
	-webkit-filter: brightness(1.2);
	-moz-filter: brightness(1.2);
	-o-filter: brightness(1.2);
	-ms-filter: brightness(1.2);
	filter: brightness(1.2);
}


.tt-query {
	
}

.tt-hint {
	color: #999999;
	width: 100%;
}
.tt-dropdown-menu {
	background-color: #F9F9F9;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 12px;
	padding: 8px 0;
	width: 100%;
	opacity: 0.9;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #F5811E;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

.twitter-typeahead { width: calc(100% - 90px); } 

/*==========================================================================
  General
  ========================================================================== */
body {
  background: url("../img/icon-trans.svg") #F2F2F2;
  background-position: 70% 47%;
  background-repeat: no-repeat;
  background-size: 250%;
  background-attachment: scroll;
	margin: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	text-rendering: optimizeLegibility;
	height: 100%; 
	width: 100%;
	-webkit-backface-visibility:hidden; 
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*===========================
  --- Header & menu ----
=========================== */

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 999;
    /* RGBa with 0.6 opacity 
    background-color: rgba(255, 255, 255, 1); */
		border-top: 1px solid #ddd;
	background-color: #FAFAFA;
	-webkit-box-shadow: 0px 5px 5px -3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px -3px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px -3px rgba(50, 50, 50, 0.75);
	
	}

/*===========================
  --- LOGO ----
=========================== */
.logo {
 	float: left; 
	margin: 10px 0px 0 0px!important;
	z-index: 1;
}
.logo:hover { 	-webkit-filter: brightness(110%);
	cursor: pointer; }
	
.logo img{
	width: 140px;
	height: auto;
}

/*===========================
  --- LOGIN ----
=========================== */

.login-logo{
width: 40px;
  height: 40px;
  background: url("../img/shoutpoint.svg") transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#login-box #registry-box{
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.login-content{
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  background: rgb(250,250,250);
  background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(249,249,249,1) 80%, rgba(239,239,239,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(80%,rgba(249,249,249,1)), color-stop(100%,rgba(239,239,239,1)));
  background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(249,249,249,1) 80%,rgba(239,239,239,1) 100%);
  background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(249,249,249,1) 80%,rgba(239,239,239,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(249,249,249,1) 80%,rgba(239,239,239,1) 100%);
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(249,249,249,1) 80%,rgba(239,239,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
  width: 350px;
  min-height: 230px;
  margin: 0 auto;
}

.login_modal_header .close {
  margin-top: -5px;
}

.modal-title {
  font-size: 18px;
  font-family: "helvetica_25_ultralightRg", "Helvetica Neue", Arial;
  }
  
.login_modal_header, .login_modal_footer {
  background: #FF7500 !important;
  color:#fff;
  border-radius: 10px 10px 0 0;
  border-bottom: 0px;
}

.modal-text-lg{
  position: relative;
  left: 0px;
  top: 2px;
  }
  
.facebook, .twitter, .google, .linkedin {width:49%;height:40px; padding-top:2%; margin-top:2%;}
.modal-social-icons{margin: 0 auto; width: 350px; text-align: center;}
.modal-social-icons .btn{position: relative;}
.modal-icons{position: absolute; left: 10px; top: 10px;}
.google, .google:hover{background-color:#dd4b39;border:2px solid #dd4b39;color:#fff;}
.twitter, .twitter:hover{ background-color: #00aced; border:2px solid #00aced;color: #fff;}
.facebook, .facebook:hover{background-color: #3b5999; border:2px solid #3b5999;color:#fff;}
.linkedin, .linkedin:hover{background-color: #007bb6; border: 2px solid #007bb6; color:#fff;}
#social-icons-conatainer{position: relative;}

/*===========================
  --- THUMBS ----
=========================== */

.thumb-title{
width: 100%;
height: 40px;
padding: 5px 10px 5px 10px;
}

.thumb-title h3 {
  font-family: "helvetica_25_ultralightRg", "Helvetica Neue", Arial;
  font-size: 17px;
}

.ca-price-btn {
  position: absolute;
  font-family: "helvetica57-condensedroman",Helvetica,Arial,sans-serif;
  font-size: 17px;
  right: 0;
  bottom: 0;
  padding: 7px 10px 5px 10px;
  background: #428bca;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

/*===========================
  --- NAVIGATION ----
=========================== */

.main-icons {
padding: 9px 7px 0 7px;
cursor: pointer;
color: #777;
}

.main-icons:hover{
color: #FF7500;
}

.navbar-nav>.user{
margin-left: 10px;
}

.dropdown-menu>.active>a{
border-left: #FF7500 solid 3px;
background: none;
font-weight: normal;
}

.dropdown-menu>.active>a:hover{
background: #F5F5F5;
}

.dropdown-menu>li:first-child {
  margin-top: 5px;
}

.dropdown-menu>li:last-child {
  margin-bottom: 5px;
}